[user]
	name = Numan, Syed
	email = smnuman@gmail.com
	mail = smnuman@gmail.com
[alias]
	co = checkout
[core]
	editor = subl -w
[credential]
	helper = cache --timeout=3600
[branch]
	autosetuprebase = always
[http]
	sslVerify = false
[push]
	default = matching
